# R files
.Rhistory
.RData
.Ruserdata

# Posit files
.Rproj.user
.positai

# OS files
.DS_Store

# Data files
Tree_Fluxes_Synoptic_LE/2022/Raw\ Data/*.zip
Tree_Fluxes_Synoptic_LE/2023/Raw\ Data/*.zip
*.rds
